<!--             -*-html-*-  -->
<HTML>
  {{template "headerTMPL"}}
  <title>Admin | gostatus</title>
  <BODY>
    <main>
      <div class="row">
      {{template "sidebarTMPL" .}}

      <div class="col-9 col-lg-10">
	<h2>Administration</h2>
    
	<p>You're in the Admin section of <em>goStatus</em>. Here you can
	  manage listeners.</p>

	<h3>Listeners</h3>
	<table class="table">
	  <thead>
	    <th scope="col">ID</th>
	    <th scope="col">Type</th>
	    <th scope="col">Params</th>
	    <th scope="col">Status</th>
	    <th scope="col">Action</th>
	  </thead>
	  <tbody>
	    <td>ID</td>
	    <td>type</td>
	    <td>params</td>
	    <td>Listening?</td>
	    <td>
	      <button type="button" class="btn btn-secondary">
		<i class="bi bi-stop-btn"></i>
	      </button>
	      <button type="button" class="btn btn-secondary">
		<i class="bi bi-pause-btn"></i>
	      </button>
	      <button type="button" class="btn btn-secondary">
		<i class="bi bi-trash"></i>
	      </button>
	      /Resume/Delete</td>
	  </tbody>
	</table>
	<form>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="listenerAdd">Name/ID</span>
	    </div>
	    <input type="text" class="form-control" id="listenerAddId">
	  </div>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="listenerAdd">Type</span>
	    </div>
	    <select id="listenerType">
	      <option value="A">systemctl</option>
	      <option value="B">...</option>
	    </select>
	  </div>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="listenerParam">Params</span>
	    </div>
	    <input type="text" class="form-control" id="listenerParam">
	  </div>
	  <button id="addListener" type="button" class="btn btn-primary">
	    <i class="bi bi-plus-square-fill"></i>
	    Add new listener
	  </button>
	</form>
	<p>And read logs, we're reading full request body!<br>
	  To test this, contactthis server with curl like :
	  <pre>curl -X POST -d 'This is the body' 'http://localhost:3333/hello
	  </pre>
      
	</p>
	<a href="..">back</a>
      </div> <!-- flex -->
      </div> <!-- row -->
    </main>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#addListener").on('click', addListenerCallback);
      });
    </script>
    <script type="text/javascript" src="static/admin.js?v1"></script>
  </BODY>
</HTML>
