<!--             -*-html-*-  -->
<HTML>
  {{template "headerTMPL"}}
  <title>Admin | gostatus</title>
  <BODY>
    <main>
      <div class="row full-width-row">
      {{template "sidebarTMPL" .}}

      <div class="col-8 col-lg-8">
	<h2>Administration</h2>
    
	<p>You're in the Admin section of <em>goStatus</em>. Here you can
	  manage listeners.</p>

	<h3>Listeners</h3>
	<table class="table">
	  <thead>
	    <th scope="col">ID</th>
	    <th scope="col">Type</th>
	    <th scope="col">Params</th>
	    <th scope="col">Status</th>
	    <th scope="col">Action</th>
	  </thead>
	  <!-- The following loading spinner table row is added outside (and
	       before) tbody because the JS code calls ('tbode tr').detach()
	       wich will result in loading message missing. -->
	  <tr id="loadingRow" style="display: none;">
	    <td colspan="5" style="text-align: center;">
	      <div id="loading">
		<i class="fa fa-spinner fa-spin"></i> Loading...
	      </div>
	    </td>
	  </tr>
	  <tbody id="servicesTableBody">
	  </tbody>
	</table>
	<form>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="listenerAdd">Name/ID</span>
	    </div>
	    <input type="text" class="form-control" id="listenerAddId">
	  </div>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="listenerAdd">Type</span>
	    </div>
	    <select id="listenerType">
	      <option value="A">systemctl</option>
	      <option value="B">...</option>
	    </select>
	  </div>
	  <div class="input-group mb-3">
	    <div class="input-group-prepend">
	      <span class="input-group-text" id="listenerParam">Params</span>
	    </div>
	    <input type="text" class="form-control" id="listenerParam">
	  </div>
	  <button id="addListener" type="button" class="btn btn-primary">
	    <i class="bi bi-plus-square-fill"></i>
	    Add new listener
	  </button>
	</form>
	<h3>External request</h3>
	<p>And read logs, we're reading full request body!<br>
	  To test this, contact this server with curl like :
	  <pre>curl -X POST -d 'This is the body' 'http://localhost:3333/admin
	  </pre>
      
	</p>
	<a href="..">back</a>
      </div> <!-- flex -->
      </div> <!-- row -->
    </main>
    <script type="text/javascript" src="static/js/admin.js?v4"></script>
    <script type="text/javascript">
      $(document).ready(function() {
      loadServicesTable(); 
        $("#addListener").on('click', addListenerCallback);
      });
    </script>
  </BODY>
</HTML>
