<!--             -*-html-*-  -->
<HTML>
  <BODY>
    <h1>GoStatus</h1>
    <h2>Form</h2>
    <p>myName form value is '{{.Name}}'!<br>
      <form action="" method="post">
	<fieldset>
	  <legend>Change the posted name :</legend>
	  <input name="myName"></input>
	  <input type="submit" value="Post!">
	</fieldset>
      </form>

      You can go to <a href='/'>back</a> page.<br>
    </p>
  </BODY>
</HTML>
