<!--             -*-html-*-  -->
<HTML>
  {{template "headerTMPL"}}
  <title>Form | gostatus</title>
  <BODY>
    <main>
      <div class="row">
      {{template "sidebarTMPL" .Sidebar}}
      <div class="col-9 col-lg-10">

    <h1>GoStatus</h1>
    <h2>Form</h2>
    <p>myName form value is '{{.Name}}'!<br>
      <form action="" method="post">
	<fieldset>
	  <legend>Change the posted name :</legend>
	  <input name="myName"></input>
	  <input type="submit" value="Post!">
	</fieldset>
      </form>

      You can go to <a href='/'>back</a> page.<br>
    </p>
      </div> <!-- flex -->
      </div> <!-- row -->
    </main>
  </BODY>
</HTML>
