<!--             -*-html-*-  -->
<HTML>
  {{ $helloActive := "active" }}
  {{template "headerTMPL"}}
  <title>Hello | gostatus</title>
  <BODY>
    <main>
      <div class="row">
      {{template "sidebarTMPL"}}

    <div class="col-9 col-lg-10">
    
      <p>You're in the HELLO page!</p>
      <p>And read logs, we're reading full request body!<br>
	To test this, contactthis server with curl like :
	<pre>curl -X POST -d 'This is the body' 'http://localhost:3333/hello
	</pre>
      
      </p>
      <a href="..">back</a>
    </div> <!-- flex -->
	</div> <!-- row -->
    </main>
  </BODY>
</HTML>
