<!--             -*-html-*-  -->
<HTML>
  <BODY>
    <h1>GoStatus</h1>
    <h2>Home</h2>
    <p>
      New root file, based on template!<br>
      You can also go to <a href='/hello'>HELLO</a> page.<br>
      Or test the <a href='/form'>FORM</a> posting page<br>
      <br>
      Yoy may also want to test this page with parameters
      <a href="?first=aze">here</a> and 
      <a href="?first=aze&second=zer">here</a>.
    </p>
  </BODY>
</HTML>
